/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .w-md-100 {
        width: 100%;
    }
    .border-bottom-1 {
        border-bottom: 1px solid #F2E6F2;
    }
    #logo {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (width: 768px) {
    .this-a {
        border-bottom: 0px;
    }

    #logo {
        width: 50%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}